<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>InsurTix</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body style="height:100%;">
 
    <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#0099ff">
              <a class="navbar-brand" href="/">InsurTix</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li role="nav-item active" ><a class="nav-link" href="/">Home</a></li>
                  <li role="nav-item"><a class="nav-link" href="showSignIn">Sign In</a></li>
                  <li class="nav-item"><a class="nav-link" href="showSignUp">Sign Up</a></li>
                </ul>
              </div>
            </nav>
        </div>
    
        <div class="jumbotron" style="min-
        height:100%;">
            <h1>InsurTix</h1>
            <h2>Helping out for those little issues</h2>
            <p>This is an example of a web app in active development. Many of the features are not implemented yet,<br>
                and anything here is just a prototype and demonstration of what the final product will look and feel like.<br>
            Expect changes in the final product as well.</p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>

            <footer class="footer">
                <p>&copy; Company 2015</p>
            </footer>
        </div>
 
        <!--<div class="row marketing">
            <div class="col-lg-6">
                <h4>Item 1</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Item 2</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Item 3</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Item 4</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Item 5</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Item 6</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>-->
 
        
 
    </div>
</body>
 
</html>